*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: center;
    background: #222
    
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}